@font-face {
    font-family: Avenir;
    src: url("../fonts/AvenirLTStd-Book.otf");
}
@font-face {
    font-family: AvenirBlack;
    src: url("../fonts/AvenirLTStd-Black.otf");
}

body {
    background-color: rgb(30, 30, 30);
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.menubar {
    background-color: rgb(40, 40, 40, 0.8);
    position: fixed;
    height: 4vw;
    width: 100vw;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 10;
}

.menubar .home {
    position: absolute;
    left: 1vw;
    top: 0.5vw;
    height: 3vw;
    cursor: pointer;
}
.menubar .profile {
    position: absolute;
    right: 1vw;
    top: 0.5vw;
    height: 3vw;
    cursor: pointer;
}
.menubar .search {
    position: absolute;
    right: 5vw;
    top: 0.5vw;
    height: 3vw;
    cursor: pointer;
}

.games {
    background-color: rgb(40, 40, 40);
    position: absolute;
    min-height: calc(100vh - 6vw);
    width: 98vw;
    left: 1vw;
    top: 5vw;
    border-radius: 1vw;
    overflow: hidden;
}

.games .holder {
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 96vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2.1vw;
    justify-items: center;
    align-items: center;
}

.games .holder .game {
    width: 10vw;
    height: 15vw;
    border-radius: 1vw;
    background-color: rgb(67, 67, 67);
    cursor: pointer;
}